$font-primary: 'Poppins', sans-serif;

$h1: 48px;
$h1-md: 38px;
$h2: 32px;
$h2-md: 26px;
$h3: 24px;
$h3-md: 22px;
$h4: 20px;
$h5: 18px;
$h6: 16px;

$text-xl: 80px;
$text-lg: 65px;

$white:#ffffff;
$black:#000000;
$gray:#F5F5F5;
$light:#F7F2DD;
$color-primary:#F16001;
$color-secondary:#001B61;
$color-tertiary:#00A5B8;

$black-100:#111111;
$black-200:#222222;
$black-300:#333333;
$black-400:#444444;
$black-500:#555555;
$black-600:#666666;
$black-700:#777777;
$black-800:#888888;
$black-900:#999999;